/*===== All SECTION TITLE Style =====*/
.section-title .line {
    background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    width: 150px;
    height: 5px;
    margin-bottom: 10px !important;
}

.section-title .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
}
@media (max-width: 767px) {
    .section-title .title {
        font-size: 20px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
        font-size: 30px;
    }
}
.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Section Title Style =====*/
.section-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    color: #361cc1;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .section-title .sub-title {
        font-size: 16px;
    }
}

.section-title .title {
    font-size: 32px;
    padding-top: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .section-title .title {
        font-size: 24px;
    }
}
.section-title .title span {
    font-weight: 400;
    display: contents;
}
