.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== HEADER HERO =====*/
.header-hero {
    position: relative;
    z-index: 5;
    background-position: bottom center;
}

#particles-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-hero-content {
    padding-top: 180px;
}
@media (max-width: 767px) {
    .header-hero-content {
        padding-top: 100px;
    }
}
.header-hero-content .header-sub-title {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
}
@media (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 24px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 30px;
    }
}
.header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}
@media (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 24px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 30px;
    }
}
.header-hero-content .text {
    color: #fff;
    margin-top: 30px;
}
.header-hero-content .main-btn {
    margin-top: 40px;
}

.header-hero-image {
    padding-top: 45px;
}
.header-hero-image img {
    max-width: 650px;
}
@media (max-width: 767px) {
    .header-hero-image img {
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .header-hero-image {
        padding-top: 30px;
    }
}
